/* style.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222; /* Темний фон сторінки */
    overflow: hidden; /* Прибираємо скрол */
}

canvas {
    display: block;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Тінь для краси */
}